#chat-container {
  display: grid;
  grid:
      'search-container chat-title' 71px
      'conversation-list chat-message-list' 1fr
      'new-message-container chat-form' 78px
      / 300px 1fr;
      min-width: 1920px;
      max-width: 1000px;
      max-height: 1500px;
      width: 150%;
      height: 100vh;    
  background: #FFF;
  border-radius: 10px;
}