*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    height: 14vh;
     display: flex;
    align-items: center;
    justify-content:center;
    background:rgb(51,119,187);
    width: 100%;
    
}
img{
    transform: scale(0.6);
}
h3{
    color: #fff;
}
.foot1{
    height: 2.5rem;
    background-color: rgb(68,68,68);
    width: 100%;
}